<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Error create user</title>
    <style type="text/css">
        body {
            padding: 50px;
        }

        label {
            display: inline-block;
            width: 100px;
        }

        input:read-only {
            background: lightgray;
        }

    </style>
</head>
<body>
<h2 th:text="${errorMessage}"/>
</p>

<a th:href="@{/user/create}" href="userCreate.html">New user</a>
</body>
</html>