<html   xmlns:th="http://www.thymeleaf.org" content="text/html;">
<head>
    <meta charset="UTF-8"/>
    <title>Login</title>
    <style type="text/css">
        body {
            padding: 50px;
        }

        label {
            display: inline-block;
            width: 100px;
        }

        input:read-only {
            background: lightgray;
        }

        .row {
            margin-top: 10px;
        }
    </style>
</head>
<body>
<div class="top">
    <img th:src="@{/img/logo2.png}" style="width: 128px; height: 128px">
    <br/>
        <form id="loginForm" name="loginForm" method="POST">
            <div class="row">
                <label for="userLoginTextBox">Login:</label>
                <input id="userLoginTextBox" name="userLogin" type="text" value="admin"/>
                <label for="userPasswordTextBox">Password:</label>
                <input id="userPasswordTextBox" name="userPassword" type="password" value="123"/>
            </div>
            <div class="row">
                <button type="submit">Login</button>
            </div>
        </form>
</div>
</body>
</html>